@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FEFFD2;
}

.task {
  margin: 5px;
}

.task button {
  background-color: #FEFFD2;
  width: 100px;
  height: 30px;
}

.signUpForm {
  position: relative;
  background: #FFEEA9;
  border: 1px solid black;
  padding: 2rem;
  margin: 1rem;
  border-radius: .5rem;
}

.signUpForm button{
  background-color: #FEFFD2;
}

